[Desktop Entry]
Name=Stardew Sync
Comment=Sync Stardew Valley saves to Google Drive
Exec=bash "/home/phoenix/Documents/VsCode/Stardew Cross-Platform Save Manager/stardew_Cross-Platform.sh"
Icon=document-save
Terminal=false
Type=Application
Categories=Game;Utility;